
<!-- usar ngSubmit ao invés de onSubmit permite caputar o evento e evitar que a página recarregue-->

<main class="container" >
    <section    id="loginForm">
        <img src="/assets/mytt.png" alt="Home">
        <form [formGroup]="myForm" (ngSubmit)="handleLogin()" >
            <span class="input-form">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email" >
            </span>
            <span  class="input-form">
                <label for="password">Senha:</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password">
            </span>

            <button type="submit" >Login</button>
        </form>
        <span class="line"></span>
            <!-- <span id="login-google">
                <img src="/assets/logo-google.png" alt="logo-google">
                <button (click)="handleLoginWithGoogle()" >Logar com o Google</button>
            </span> -->
        <p id="cadastrar"> Não possui conta? <a href="/register">Cadastre-se</a></p>
    </section>
</main>

