<main class="container">
    <section    id="loginRegister">
        <img src="/assets/mytt.png" alt="Home">
        <form [formGroup]="myRegister" (ngSubmit)="handleRegister()" >
            <span class="input-register">
                <label for="username">Usuário:</label>
                <input type="username" class="register-control" id="username" name="username" formControlName="username" >
            </span>
            <span class="input-register">
                <label for="email">Email:</label>
                <input type="email" class="register-control" id="email" name="email" formControlName="email" >
            </span>
            <span  class="input-register">
                <label for="password">Senha:</label>
                <input type="password" class="register-control" id="password" name="password" formControlName="password">
            </span>

            <button type="submit" >Registrar</button>
        </form>
        <span class="line"></span>
            <span id="login-google">
                <img src="/assets/logo-google.png" alt="logo-google">
                <button (click)="handleRegisterWithGoogle()" >Registrar com o Google</button>
            </span>
        <p id="cadastrar"> Já possui conta? <a href="/login">Faça o login</a></p>
    </section>
</main>