<main>
    <nav id="nav-mytt">
        <img id="logo-mytt" src="/assets/mytt.png" alt="Home">
        <p>Olá {{username}} <button (click)="handleLogout()">sair</button></p>
    </nav>
    <article id="feed">
        <section id="meu-post">
            <form [formGroup]="formPost" (ngSubmit)="handlePost()">
                <textarea class="post-textarea" placeholder="O que você está pensando?" formControlName="content"></textarea>
                <button class="post-button" type="submit">Postar</button>
            </form>
        </section>
        <section id="home-section">
            @for (post of posts; track post) {
                <app-post 
                [usuario]="post.user"
                [conteudo]="post.content"
                [data]="post.createdAt"></app-post>
                }
                
                @if(isLoading) {
                    <p class="loading-indicator">Carregando posts...</p>
                }
                
                @if(!isLoading && !posts.length) {
                    <p class="empty-indicator">Nenhum post encontrado</p>
                }

                
        </section>
    </article>
</main>