<main>
    <nav id="nav-mytt">
        <img id="logo-mytt" src="/assets/mytt.png" alt="Home">
        <p>Olá usuario <button (click)="handleLogout()">sair</button></p>
    </nav>
    <article id="feed">
        <section id="meu-post">
            <h1>Faça um post</h1>
            <form [formGroup]="formPost" (ngSubmit)="handlePost()">
                <textarea placeholder="O que você está pensando?" formControlName="content"></textarea>
                <button type="submit">Postar</button>
            </form>
        </section>
        <section id="home-section">
            @for (post of posts; track post) {
                <app-post 
                [usuario]="post.user"
                [conteudo]="post.content"
                [data]="post.createdAt"></app-post>
                } @empty {
                <p>There are no items.</p>
                }
        </section>
    </article>
</main>